.detail-container {
  margin: 40px 50px 0;
}

@media screen and (max-width: 600px) {
  .detail-container {
    margin: 40px 0 0;
  }
}
.detail_content {
  margin-bottom: 300px;
}

@media screen and (max-width: 768px) {
  .detail_content {
    margin-bottom: 100px;
  }
}
.detail-img {
  margin-bottom: 50px;
}

.post-img img {
  width: 100%;
}

.detail_post-info span {
  margin: auto 10px;
}
.detail_post-info span i {
  margin: 0 10px;
}

.detail_quote {
  display: block;
  width: 60%;
  font-weight: 600;
  margin: 20px auto;
}

.detail_article {
  margin: 0 40px 30px;
}

@media screen and (max-width: 768px) {
  .detail_article {
    margin: 0 10px 30px;
  }

  .detail_quote {
    width: 90%;
  }
}
.detail_title {
  margin-top: 30px;
}

.detail_post-info {
  margin: 30px 0 40px;
}

.stars {
  display: inline-block;
  margin-top: 50px;
}
.stars i:hover {
  color: #000;
}

.pagination {
  width: 100%;
}

.prev-post {
  background: #000;
}

.next-post {
  background: #3a3c49;
}

.pagination {
  margin: 70px 0 40px;
}

.prev-post, .next-post {
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.prev-post i, .next-post i {
  margin: 0 20px 3px;
}

.thumbnail {
  border: none;
}

.author-selfie {
  background: url("../images/author-selfie.png") center center no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
  background: #000;
  margin: 0 auto;
}

.author-about {
  margin: 30px 10px 40px;
}

.author-initial {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.author-name {
  color: #212121;
  font-family: MontserratRegular;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.all-post-link {
  color: #212121;
  font-family: Hind;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}
.all-post-link:hover {
  color: #000;
  text-decoration: none;
}

.detail-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 70px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.detail-social i {
  padding: 12px 20px;
}
.detail-social a {
  margin: 0;
  padding: 0 20px 0 0;
  width: 25%;
  min-width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}
.detail-social a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

.recommend-posts {
  width: 100%;
}

.caption {
  color: #212121;
  font-family: MontserratBold;
  font-size: 16px;
  text-transform: uppercase;
}

.detail-sidebar {
  padding-right: 30px;
}

.detail_search input {
  height: 50px;
  background-color: #f9f9fb;
  width: 80%;
  border: none;
  color: #212121;
  font-family: Hind;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.detail_search button {
  height: 50px;
  width: 20%;
  background: #212121;
  border: none;
}

.random-img {
  margin-top: 40px;
}

.random-img img {
  width: 100%;
}

.categories span {
  float: right;
}

.categories_title {
  color: #212121;
  font-family: MontserratBold;
  font-size: 20px;
  line-height: 28px;
  margin: 40px 0;
  text-transform: uppercase;
}

.category {
  padding: 0;
  border: none;
}

.category a {
  display: block;
  width: 100%;
  color: #212121;
  font-family: Hind;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
}
.category a:hover {
  background: #ddd;
  text-decoration: none;
  color: #111;
}

.latest-posts {
  margin-top: 30px;
}

.l-post {
  display: block;
}

@media screen and (max-width: 768px) {
  .l-post {
    text-align: center;
  }
}
.l-posts_title {
  color: #212121;
  font-family: MontserratBold;
  font-size: 20px;
  text-transform: uppercase;
}

.l-post_title {
  color: #212121;
  font-family: MontserratBold;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: -3px;
}

.l-post_img {
  float: left;
  width: 80px;
  height: 77px;
  background-color: #3a3c49;
  margin-right: 10px;
}

.l-post {
  margin: 50px 0;
}

.likes {
  float: right;
}

.latest-post-footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.sidebar_social {
  width: 100%;
  display: flex;
}
.sidebar_social a {
  width: 25%;
  text-align: center;
}
.sidebar_social a:hover {
  color: #bbb;
}

.sidebar_carousel {
  margin: 40px 0;
}
.sidebar_carousel img {
  width: 100%;
}

.sidebar_carousel_control {
  background: #464646;
  padding: 10px 10px;
}
.sidebar_carousel_control:hover {
  background: #333;
}

.sidebar_carousel_control_a {
  display: flex;
  align-items: center;
}

.sidebar_carousel_control_l {
  justify-content: flex-start;
}

.sidebar_carousel_control_r {
  justify-content: flex-end;
}

.join-us-facebook {
  margin: 0 auto 40px;
}
.join-us-facebook img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
